${font Play:size=9}${color1}[:NAME:]${color}${alignr}${color2}[:PERCENT:]%${color}
D: ${color1}[:DOWN:]${color} ${goto 100}U: ${color1}[:UP:]${color} ETA: ${color1}[:ETA:]${color} R: ${color1}[:RATIO:]${color}
${color1}${lua_bar 10,0 conkytransmission [:PERCENT:]}
