${font Play:size=9}${color1}[:NAME:]${color}${alignr}${color2}[:PERCENT:]%${color}
D: ${color1}[:DOWN:]${color} ${goto 100}U: ${color1}[:UP:]${color} ${goto 200}ETA: ${color0}[:ETA:]${color} ${goto 300}R: ${color1}[:RATIO:]${color}
${color1}${lua_bar 5,0 conkytransmission [:PERCENT:]}${color}
